baidu_aip==2.2.3.0
pandas==0.19.2
Flask_RESTful==0.3.6
SQLAlchemy==1.1.7
flask_restful_swagger==0.19
pip==10.0.1
Flask==0.12.2
PyAudio==0.2.11
requests==2.13.0
pyttsx3==2.7
PyMySQL==0.7.9
Werkzeug==0.14.1
setuptools==39.1.0
aip==1.0.0.5
pycurl==7.43.0.1
PyYAML==3.12
