pkutils>=1.0.0
setuptools>=39.1.0
Werkzeug>=0.14.1
flask_restful==0.3.6
flask==0.12.2
aip>=1.0.0.5
baidu_aip>=2.2.3.0
SQLAlchemy>=1.1.7
PyMySQL>=0.7.9
pyttsx3>=2.7
pandas>=0.19.2
requests>=2.13.0
flask_restful_swagger>=0.19
PyYAML>=3.12
